﻿@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <div class="container-fluid">
        <h1 style="color:seagreen;">Welcome</h1>
        <img src="~/BENAFIT.jpg" class="img-fluid"></img>
    </div>
</div>
<br>


<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card h-100">
                <img src="~/Fitness.jpg" height="200px" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Regular Package</h5>
                    <p class="card-text">This is the 10$ a month plan. This plan will get you access to the open gym and all equipment.</p>
                    <br /><br /><br />
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="Home/Register" class="btn btn-success">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/BBB.jpg" height="200px" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Upgraded Package</h5>
                    <p class="card-text">This is the 35$ a month plan. This plan will get you access to the open gym and all equipment.PLUS this allows you to get more amenities suchas: private rooms, basketball gym, spa, and pool.</p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="Home/Register" class="btn btn-success">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/VIp.jpg" height="200px" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Premium Package</h5>
                    <p class="card-text">This is the 60$ a month plan. With this plan you get acces to everything the other two packages have and more. This package allows you to use all athletic trainng equiptment.</p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="Home/Register" class="btn btn-success">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-body">
<p class="placeholder-glow">
    <span class="placeholder col-12 bg-success"></span>
</p>
<div class="container-fluid text-center">
<img src="~/GYM1.jpg" class="object-fit-fill rounded float-start" width="500px" height="500px">
    <div class="card-body">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
             <h5 class="card-title fs-2">What You Get</h5>
        <p class="card-text fs-3 text-center">
                 With all membership types you will have acces to all BenaFit gyms. There are currently 20 BenaFit gyms in california.
                 If you have the Upgraded memebership or the Premium memberhsip, you can bring on guest for free. 
            </p>
     </div>
</div>
<br /> 
<p class="placeholder-glow">
    <span class="placeholder col-12 bg-success"></span>
</p>
<div class="container-fluid text-center">
<img src="~/SportGym.jpg" class="rounded float-end" width="500px" height="500px">
    <div class="card-body">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
             <h5 class="card-title fs-2">Athletic Area</h5>
        <p class="card-text fs-3 text-center">
                 BenaFit is one of the few gyms that has a full athletic trainning area.
                 Here you will find turf with sled, batting cages, and other equipment 
                 atheltes will need to improove.
            </p>
     </div>
</div>
<br />
<p class="placeholder-glow">
    <span class="placeholder col-12 bg-success"></span>
</p>
<div class="container-fluid text-center">
<img src="~/water-sport.jpg" class="rounded float-start" width="500px" height="500px">
    <div class="card-body">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
             <h5 class="card-title fs-2">Indoor Pool</h5>
             <p class="card-text fs-3 text-center">
                 At only select BenaFit locations will there be an olympic sized pool. We value all types of athletes and we recognize the bennfits that come with  aquatic workouts.
            </p>
     </div>
</div>
</div>
</div>
