﻿@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <div class="container">
        <h1 style="color:seagreen;">Welcome</h1>
        <img src="~/BENAFIT.jpg" class="img-fluid"></img>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card h-100">
                <img src="~/Fitness.jpg" height="200px" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Regular Package</h5>
                    <p class="card-text">This is the 10$ a month plan. This plan will get you access to the open gym and all equipment.</p>
                    <br /><br /><br />
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="Home/Register" class="btn btn-success">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/BBB.jpg" height="200px" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Upgraded Package</h5>
                    <p class="card-text">This is the 35$ a month plan. This plan will get you access to the open gym and all equipment.PLUS this allows you to get more amenities suchas: private rooms, basketball gym, spa, and pool.</p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="Home/Register" class="btn btn-success">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="~/VIp.jpg" height="200px" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Premium Package</h5>
                    <p class="card-text">This is the 60$ a month plan. With this plan you get acces to everything the other two packages have and more. This package allows you to use all athletic trainng equiptment.</p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="Home/Register" class="btn btn-success">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<header class="header">
  <div class="brand-box">
    <span class="brand">Example Brand</span>
  </div>

