@model RegistrationViewModel
<form asp-action="ThankYou" asp-controller="Home" method="post">
	 <div class="form-group">
		 <label asp-for="UserName"></label>
		<input asp-for="UserName" class="form-control" />
		<span asp-validation-for="UserName" class="text-danger"></span>
	 </div>

	<div class="form-group">
		<label asp-for="UserEmail"></label>
		<input asp-for="UserEmail" class="form-control" />
		<span asp-validation-for="UserEmail" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="UserPhoneNumber"></label>
		<input asp-for="UserPhoneNumber" class="form-control" />
		<span asp-validation-for="UserPhoneNumber" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="UserAge"></label>
		<input asp-for="UserAge" class="form-control"/>
		<span asp-validation-for="UserAge" class="text-danger"></span>
	</div>
<p></p>


	<button type="submit" class="btn btn-outline-light" color: bg-white">
	<a asp-area="" asp-controller="Home" asp-action="Index">Back To Home Page</a>
</button>


	<button type="submit" class="btn btn-outline-success" > Register</button>
	



</form>