﻿
@model RegistrationViewModel

<h2>Thank you for registering to BenaFit</h2>
<h3>Below is a summary:</h3>

<ul>
	<li>UserName: @Model.UserName</li>
	<li>UserEmail: @Model.UserEmail</li>
	<li>UserPhoneNumber: @Model.UserPhoneNumber</li>
	<li>UserAge: @Model.UserAge</li>
</ul>

