﻿@model RegistrationViewModel

<h2>Thank you for registering to BenaFit</h2>
<h3>Below is a summary:</h3>

<ul>
	<li>Name: @Model.Name</li>
	<li>Email: @Model.Email</li>
	<li>PhoneNumber: @Model.PhoneNumber</li>
	<li>Age: @Model.Age</li>
</ul>
