
<div class="card">
    <div class="card-footer text-white bg-success ">
        About
    </div>
    <div class="card-body">
        <blockquote class="blockquote h-100">
            <p>
                Hi everyone! This is Jovani Benavides the creator of the great fitness progam BenaFit. As our program grew we decided it was time to expand and create
                a real facility that our members can come to and work out. This is the first step in a much bigger project and we hope to continue to grow and most importantly
                help you all improve your lifestyle for the better.
            </p>
            <p>Thank you for all the supports!</p>
            <p>
                A little about me, I am young person who decided it was time to help out others who are wanting to improove their health. I have always been into sports
                and fitness and I belive that everyone should be welcome to the fitness comunity. I hope by creating this program and gym it will encourge those who are
                scared to enter a gym or simply just need that push to get going.
            </p>
            <wbr>
        </blockquote>
    </div>
</div>